body {
    margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
    color: #000;
}


.jumbotron{
    color: lightgray;
    /*background-color:none !important;*/
}